:root {
    --main-color: #b46924;
    --light-color: #fff7f1;
    --color: #b1886a;
    --second-color: #c0b08e;
    --background-color: #dfe0df;
    --background-sec-color: #f5efdc;
    --dark-color: #343333;
}


.invoice {
    display: block;
    background-color: var(--color);
    width: 100%;
    padding: 10px 0 30px;
}

.invoice-table {
    direction: rtl;
    width: 80%;
    height: 80%;
    margin: auto;
}

.invoice-table table {
    padding: 0;
    width: 100%;
    height: 80%;
    color: var(--dark-color);
    table-layout: auto;
    font-size: 22px;
    text-align: center;
    border: 5px solid var(--dark-color);
    border-radius: 10px;
    border-collapse: separate;
}

.invoice-table caption {
    font-size: 30px;
    color: white;
}

.invoice-table table tr,
.invoice-table table td {
    background-color: var(--background-color);
}

.invoice-table table th {
    background-color: var(--main-color);
}

@media screen and (max-width:500px) {

    .invoice {
        height: 180px;
    }
}