@import url('../../index.css');

.invoice {
    display: block;
    background-color: var(--color);
    width: 100%;
    padding: 10px 0 30px;
    height: auto;
}

.invoice-table {
    direction: rtl;
    width: 80%;
    height: auto;
    margin: auto;
    overflow-x: auto;
}

.invoice-table table {
    padding: 0;
    width: 100%;
    height: auto;
    color: var(--dark-text);
    table-layout: auto;
    font-size: clamp(14px, 2vw, 22px);
    text-align: center;
    border: 5px solid var(--background-dark-color);
    border-radius: 10px;
    border-collapse: separate;
}

.invoice-table caption {
    font-size: clamp(20px, 3vw, 30px);
    color: var(--white-text);
    margin-bottom: 10px;
}

.invoice-table table tr,
.invoice-table table td {
    background-color: var(--background-color);
}

.invoice-table table th {
    background-color: var(--main-color);
}