@import url('../../../index.css');

.home-products-show {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    direction: rtl;
    padding: 0 10px 40px;
    box-sizing: border-box;
}

@media screen and (max-width:500px) {
    .home-products-show {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 50px;
    }
}